ion-grid {
  $radius: 10px;
  $background-color: rgba(0, 0, 0, 0.56);

  ion-row#top {
    ion-col {
      background: $background-color;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        border-bottom-left-radius: $radius;
        border-top-left-radius: $radius;
      }

      &:last-child {
        border-top-right-radius: $radius;
      }

      ion-icon{
        font-size: 25px;
        cursor: pointer;
      }
    }
  }

  ion-row#main {
    ion-col#right-panel {
      height: 100%;
      background: $background-color;

      > ion-row {
        &:first-child {
          box-shadow: 0 0 20px -5px black;
          border-radius: $radius;
        }
      }

      ion-col {
        padding: 10px;
      }
    }
  }

  ion-row#bottom {
    > ion-col {
      &:first-child {
        background: $background-color;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }

      &:last-child {
        background: $background-color;
        border-bottom-right-radius: $radius;
      }
    }
  }
}

ion-col {
  color: white;
}

ion-progress-bar {
  margin-top: 12px;
  height: 10px;
  border-radius: 5px;
}

.main {
  display: flex;
  width: 95%;
  --s: 72px; /* size  */
  --m: 0px; /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
  padding-bottom: 40px;
}

.container {
  position: relative;
  padding-bottom: 25px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0; /*disable white space between inline block element */
}

.container ion-img {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}

.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 1px), #000 0 var(--f));
}

.test:hover{
  cursor:pointer;
  transform: scale(1.1, 1.1);
}

body {
  margin: 0;
  overflow: hidden;
}
