<app-menu></app-menu>

<div id="animated-bg" class="bg-winter">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<ion-grid style="width:100%">
  <ion-row style="height:5%;">
    <ion-col>
      facts
    </ion-col>
  </ion-row>
  <ion-row style="height:80%">
    <ion-col style="flex-basis:70%">
      <div class="main">
        <div class="container">
          <ion-img [src]="'./assets/img/' + matrix[0].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[1].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[2].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[3].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[4].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[5].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[6].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[7].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[8].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[9].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[10].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[11].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[12].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[13].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[14].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[15].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[16].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[17].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[18].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[19].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[20].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[21].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[22].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[23].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[24].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[25].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[26].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[27].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[28].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[29].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[30].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[31].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[32].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[33].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[34].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[35].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[36].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[37].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[38].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[39].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[40].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[41].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[42].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[43].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[44].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[45].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[46].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[47].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[48].type + '.png'"></ion-img>
          <ion-img [src]="'./assets/img/' + matrix[49].type + '.png'"></ion-img>
        </div>
      </div>
    </ion-col>
    <ion-col style="flex-basis:30%">
      <ion-row>
        <ion-col>
          santé, bonheur, religion
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          income
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          inventaire
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row style="height:15%;">
    <ion-col style="flex-basis:30%">

    </ion-col>
    <ion-col style="flex-basis:70%">

    </ion-col>
  </ion-row>
</ion-grid>
<div id="sun-div">
  <ion-img src="./assets/img/sun.png"></ion-img>
</div>
<div id="leaves">
  <ion-img *ngFor="let i of fallingLeaves" [src]="'./assets/img/leaves/leaf'+ ((i % 6) + 1) + '.png'"></ion-img>
</div>
<div id="snow">
  <div *ngFor="let i of snowflakes"></div>
</div>
<div id="spring" class="animated">
  <ion-img *ngFor="let i of flowers" [src]="'./assets/img/spring/flower'+ i + '.png'"></ion-img>
  <img class="grass" src="./assets/img/spring/grass.png" alt="grass"/>
</div>
