ion-col {
  border: solid 1px white;
  color: white;
}

.main {
  display: flex;
  width: 100%;
  --s: 80px; /* size  */
  --m: 1px; /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
  padding-bottom: 50px;
}

.container {
  font-size: 0; /*disable white space between inline block element */
}

.container ion-img {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}

.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 1px), #000 0 var(--f));
}


body {
  margin: 0;
  overflow: hidden;
}

#animated-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: 1s;

  $particleSize: 100px;
  $animationDuration: 30s;
  $amount: 30;

  & span {
    transition: 1s;
    width: $particleSize;
    height: $particleSize;
    border-radius: $particleSize;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: $animationDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  span {
    @for $i from 1 through $amount {
      &:nth-child(#{$i}) {
        top: random(100) * 1%;
        left: random(100) * 1%;
        animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
        animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
        transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
        $blurRadius: (random() + 0.5) * $particleSize * 0.5;
        $x: if(random() > 0.5, -1, 1);
        box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
      }
    }
  }

  $season-colors: (
    "winter": (#97b5d9, #e0dcdb, #000d41, #1c66b7),
    "spring": (#8ec53f, #c00040, #efe039, #4f46b5),
    "summer": (#e8c40a, #f1b637, #f82830, #1ec2b9),
    "autumn": (#e7c57e, #7e2725, #19745f, #6a4622),
  );
  @each $season, $colors in $season-colors {
    &.bg-#{$season} {
      background: nth($colors, 1);

      span {
        @for $i from 1 through $amount {
          &:nth-child(#{$i}) {
            color: nth($colors, random(length($colors) - 1) + 1);
          }
        }
      }
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

#sun-div {
  filter: drop-shadow(-7px 5px 7px white);
  position: absolute;
  bottom: -200px;
  right: 0;
  width: calc(90vh + 200px);
  transform-origin: right;

  &.animated {
    animation: 6s 1 cubic-bezier(0.25, 0.35, 0.76, -0.25) move;
  }

  ion-img {
    width: 200px;
  }
}
