<app-menu></app-menu>

<ion-modal trigger=popoverRoulette reference="event" (ionViewDidEnter)="chargeRoulette()">
  <ng-template>
    <ion-content>
        <ion-button (click)="this.roulette.spin()">Spin!</ion-button>
        <canvas id="canvas" height="500" width="500"></canvas>      
    </ion-content>
  </ng-template>
</ion-modal>


<ion-grid style="width:100%">
  <ion-row id="top">
    <ion-col size="1">
      <ion-button fill="clear" size="medium" title="Decrease time speed" (click)="clockSpeed('-')" class="tuile">
        <ion-icon name="remove-circle" slot="icon-only" color="success"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="1">
      x{{speed}}
    </ion-col>
    <ion-col size="1">
      <ion-button fill="clear" size="medium" title="Increase time speed" (click)="clockSpeed('+')">
        <ion-icon name="add-circle" slot="icon-only" color="success"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      {{day}}/{{month}}/{{year}}
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" size="medium" title="Pause" (click)="pause()" *ngIf="!paused">
        <ion-icon name="pause-circle" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="medium" title="Resume" (click)="pause()" *ngIf="paused">
        <ion-icon name="play-circle" slot="icon-only" color="success"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      {{persoService.perso.name}}, {{persoService.perso.localization}}
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row id="main" style="height:58%; border: none;">
    <ion-col size="9">
      <div class="main">
        <div class="container">
          <ion-img *ngFor="let col of matrix[0]" [src]="'./assets/tuiles/' + type + '/' + col.name + '.png'"
                   (mouseenter)="hoverEnter(col.name)" (mouseleave)="hoverLeave()"></ion-img>
          <br>
          <ion-img *ngFor="let col of matrix[1]" [src]="'./assets/tuiles/' + type + '/' + col.name + '.png'"
                   (mouseenter)="hoverEnter(col.name)" (mouseleave)="hoverLeave()"></ion-img>
          <br>
          <ion-img *ngFor="let col of matrix[2]" [src]="'./assets/tuiles/' + type + '/' + col.name + '.png'"
                   (mouseenter)="hoverEnter(col.name)" (mouseleave)="hoverLeave()"></ion-img>
          <br>
          <ion-img *ngFor="let col of matrix[3]" [src]="'./assets/tuiles/' + type + '/' + col.name + '.png'"
                   (mouseenter)="hoverEnter(col.name)" (mouseleave)="hoverLeave()"></ion-img>
          <br>
          <ion-img *ngFor="let col of matrix[4]" [src]="'./assets/tuiles/' + type + '/' + col.name + '.png'"
                   (mouseenter)="hoverEnter(col.name)" (mouseleave)="hoverLeave()"></ion-img>
          <ion-img src="./assets/img/mappoint.png"
                   style="position:absolute; top:280px; left:80px; z-index: 5"></ion-img>
        </div>
      </div>
    </ion-col>
    <ion-col id="right-panel">
      <ion-row style="height:50%;">
        <ion-col>
          infos case actuelle
        </ion-col>
      </ion-row>
      <ion-row style="height:50%;">
        <ion-col>
          <ion-row>
            <ion-title>
              {{tuileHover}}
            </ion-title>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row id="bottom">
    <ion-col size="4">
      <ion-row>
        <ion-col size="1">
          <ion-icon name="flash" color="warning" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-progress-bar id="progFatigue" value={{displayFatigue}}></ion-progress-bar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
          <ion-icon name="heart" color="danger" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-progress-bar id="progSante" value={{displaySante}}></ion-progress-bar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
          <ion-icon name="fast-food" color="danger-tint" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-progress-bar id="progFaim" value={{displayFaim}}></ion-progress-bar>
        </ion-col>
      </ion-row>


    </ion-col>
    <ion-col size="8">
      INV + INFOS PERSO
      <ion-button id=popoverRoulette (click)="test()">
          ROULETTE
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<div id="animated-bg" class="bg-winter" style="z-index: -1">
  <span *ngFor="let el of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]"></span>
</div>

<div id="summer">
  <ion-img src="./assets/img/sun.png"></ion-img>
</div>
<div id="autumn">
  <ion-img *ngFor="let i of fallingLeaves" [src]="'./assets/img/leaves/leaf'+ ((i % 6) + 1) + '.png'"></ion-img>
</div>
<div id="winter">
  <div *ngFor="let i of snowflakes"></div>
</div>
<div id="spring">
  <ion-img *ngFor="let i of flowers" [src]="'./assets/img/spring/flower'+ i + '.png'"></ion-img>
  <img class="grass" src="./assets/img/spring/grass.png" alt="grass"/>
  <img class="bee" src="./assets/img/spring/bee.png" alt="bee">
</div>
