<app-saisons></app-saisons>

<ion-modal [isOpen]=isRouletteOpen backdrop-dismiss=false reference="event" (ionViewDidEnter)="resetRoulette();" (ionViewDidLeave)="buttonReset()" style="--background:transparent !important;--border-style:none;--backdrop-opacity:0;border:none;">

  <ng-template>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col style="text-align:center;">
          <ion-button [hidden]=isHiddenSpin (click)="spin()">Spin!</ion-button>
          <ion-button [hidden]=isHiddenValid [disabled]=isDisabledValid color="success" (click)="dismissModal()">OK!
          </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <canvas id="canvas" height="500" width="500"></canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-modal>


<ion-grid style="width:100%">
  <ion-row id="top">
    <ion-col size="1">
      <ion-icon name="arrow-undo-circle" color="success" (click)="router.redirect('welcome')"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="remove-circle" color="success" (click)="clockSpeed('-')"></ion-icon>
      <ion-badge color="light" style="margin: 0 10px">x {{speed}}</ion-badge>
      <ion-icon name="add-circle" color="success" (click)="clockSpeed('+')"></ion-icon>
    </ion-col>
    <ion-col size="2">
      {{day}}/{{month}}/{{year}}
    </ion-col>
    <ion-col size="2">
      <ion-icon name="pause-circle" color="warning" (click)="pause()" *ngIf="!paused"></ion-icon>
      <ion-icon name="play-circle" color="success" (click)="pause()" *ngIf="paused"></ion-icon>
    </ion-col>
    <ion-col size="4">
      {{persoService.perso.name}}, {{persoService.perso.localization}}
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row id="main" style="height:62%; border: none;">
    <ion-col size="9">
      <div class="main">
        <div class="container">
          <ion-img id="player" [src]="'./assets/img/animatedMan/' + action + '.gif'"
                   [style]="'position: absolute;' + positionPlayer"></ion-img>

          <ion-img *ngFor="let col of matrix[0]" [src]="'./assets/tuiles/' + col.type + '/' + col.name + '.png'"
                   (mouseenter)="hoverEnter(col.name)" (mouseleave)="hoverLeave()"
                   (click)="deplacementPlay(col.left, col.top, col.name)" class="tuile"></ion-img>
          <br>
          <ion-img *ngFor="let col of matrix[1]" [src]="'./assets/tuiles/' + col.type + '/' + col.name + '.png'"
                   (mouseenter)="hoverEnter(col.name)" (mouseleave)="hoverLeave()"
                   (click)="deplacementPlay(col.left, col.top, col.name)" class="tuile"></ion-img>
          <br>
          <ion-img *ngFor="let col of matrix[2]" [src]="'./assets/tuiles/' + col.type + '/' + col.name + '.png'"
                   (mouseenter)="hoverEnter(col.name)" (mouseleave)="hoverLeave()"
                   (click)="deplacementPlay(col.left, col.top, col.name)" class="tuile"></ion-img>
          <br>
          <ion-img *ngFor="let col of matrix[3]" [src]="'./assets/tuiles/' + col.type + '/' + col.name + '.png'"
                   (mouseenter)="hoverEnter(col.name)" (mouseleave)="hoverLeave()"
                   (click)="deplacementPlay(col.left, col.top, col.name)" class="tuile"></ion-img>
          <br>
          <ion-img *ngFor="let col of matrix[4]" [src]="'./assets/tuiles/' + col.type + '/' + col.name + '.png'"
                   (mouseenter)="hoverEnter(col.name)" (mouseleave)="hoverLeave()"
                   (click)="deplacementPlay(col.left, col.top, col.name)" class="tuile"></ion-img>
        </div>
      </div>
    </ion-col>
    <ion-col id="right-panel" size="3">
      <ion-row style="height:50%;">
        <ion-col>
          <ion-row>
            <ion-title>
              {{currentName}}
            </ion-title>
          </ion-row>
          <ion-row *ngFor="let el of ['Mary', 'Rent', 'Shopping', 'Drink', 'Rest', 'Heal', 'Watch', 'Pray', 'Eat', 'Practice', 'Deposit', 'Withdraw', 'Travel']">
            <ion-button *ngIf="tuiles.getActions(currentName).includes(el)" [id]="el" (click)="actionClicked(el)">{{el}}</ion-button>
          </ion-row>
          <ion-row>
            <ion-button *ngIf="(currentName==='House' || currentName==='Library' || currentName==='Museum')&&persoService.perso.grade!=='Doctorate'" class="Study" (click)="actionClicked('Study')">Study</ion-button>
            <ion-button *ngIf="currentName==='School' && persoService.perso.grade==='None'" class="Study" (click)="actionClicked('Study')">Study</ion-button>
            <ion-button *ngIf="currentName==='College' && ((persoService.perso.grade==='Licence')||(persoService.perso.grade==='Master'))" class="Study" (click)="actionClicked('Study')">Study</ion-button>
          </ion-row>
          <ion-row>
            <ion-button *ngIf="tuiles.getActions(currentName).includes('Work') && tuiles.getStudyLevel(currentName).includes(persoService.perso.instructionLevel)" id="Work" (click)="actionClicked('Work')">Work</ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="height:50%;">
        <ion-col>
          <ion-row>
            <ion-title>
              {{hoverName}}
            </ion-title>
          </ion-row>
          <ion-row>
            <p>{{hoverDescription}}</p>
          </ion-row>
          <ion-row>
            <ion-note color="primary">
              {{hoverActions}}
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row id="bottom">
    <ion-col size="4">
      <ion-row>
        <ion-col size="1">
          <ion-icon name="flash" color="warning" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-progress-bar id="progFatigue" value={{displayFatigue}}></ion-progress-bar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
          <ion-icon name="heart" color="danger" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-progress-bar id="progSante" value={{displaySante}}></ion-progress-bar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
          <ion-icon name="fast-food" color="danger-tint" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-progress-bar id="progFaim" value={{displayFaim}}></ion-progress-bar>
        </ion-col>
      </ion-row>


    </ion-col>
    <ion-col size="8">
      <ion-row>
        <ion-col size="1">
          <ion-row style="text-align: center;">
            <div style="margin-left:7px;">
              You
            </div>
          </ion-row>
          <ion-row>
            <ion-img
              [src]="'./assets/img/persos/skin'+persoService.perso.skin+'-'+persoService.perso.gender+'-'+persoService.perso.religion+'.png'"
              style="width:50px;"></ion-img>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row style="text-align: center;">
            <div>
              Majority
            </div>
          </ion-row>
          <ion-row>
            <ion-img
              [src]="'./assets/img/persos/skin'+tuiles.getEthnie(persoService.perso.localization)+'-'+ persoService.perso.gender +'-'+tuiles.getReligion(persoService.perso.localization)+'.png'"
              style="width:50px; margin-left:3px;"></ion-img>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <p style="margin-left:5px;">
            ${{persoService.perso.wallet}}
          </p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
