#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  //overflow: hidden;
}

.hex {
  position: relative;
  visibility: hidden;
}

.hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%; /* =  100 / tan(60) * 1.5 */
}

.hexIn {
  position: absolute;
  width: 100%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hexIn * {
  position: absolute;
  visibility: visible;
}

.hexLink {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.hex ion-img {
  width: auto;
  height: 100%;
  margin-left:2px;
}

.hex {
  width: 20%; /* = 100 / 5 */
}

.hex:nth-child(9n+6) { /* first hexagon of even rows */
  margin-left: 10%; /* = width of .hex / 2  to indent even rows */
}
