<app-menu></app-menu>

<ion-grid style="background-image: url('../../assets/img/worldmap.png')">
  <ion-img src="./assets/img/mappoint.png" style="top: 115px; left: 540px;" title="Paris"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 60px; left: 478px;" title="Reykjavik"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 142px; left: 308px;" title="New York"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 439px; left: 1029px;" title="Sydney"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 399px; left: 375px;" title="Sao Paulo"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 95px; left: 645px;" title="Moscow"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 210px; left: 795px;" title="New Delhi"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 260px; left: 520px;" title="Ouagadougou"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 410px; left: 625px;" title="Johannesburg"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 150px; left: 908px;" title="Beijing"></ion-img>
</ion-grid>
