ion-alert.custom-alert {
  --background: #020775;
  --max-width: 350px;
  --backdrop-opacity: 0.5;

  .alert-wrapper {
    box-shadow: 4px 4px 10px 0 black;

    .alert-head {
      .alert-title {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
      }

      .alert-sub-title {
        font-size: 20px;
        font-weight: 300;
        margin: 0;
        color: #787eff;
      }

    }

    .alert-message {
      padding-top: 20px;
      font-size: 16px;
    }
  }
}
