ion-grid {
  width: 100%;
  background-size: 1200px;
}

ion-col {
  text-align: center;
}

ion-img {
  width: 25px;
  position: absolute;
}

ion-img:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

#hover {
  position: absolute;
  height: 200px;
  width: 300px;
  border: solid 1px white;
  bottom: 20px;
  left: 20px;
  border-radius: 10px;
  background: #001069;

  #city-infos {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;

    ion-chip {
      padding-left: 20px;

      #difficulty-bar {
        width: calc(100% - 24px);
        height: 7px;
        background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 0, 1) 50%, rgba(0, 255, 0, 1) 100%);
        position: relative;
      }

      #difficulty-indicator {
        position: absolute;
        transform: translateY(-10px) translateX(-7px);
        top: 0;
      }

      ion-progress-bar {
        width: 100%;
      }
    }
  }
}
