ion-grid {
  width: 100%;
  background-size: 1200px;
}

ion-col {
  text-align: center;
}

ion-img {
  width: 25px;
  position: absolute;
}

ion-img:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

#hover{
  position: absolute;
  height:200px;
  width:300px;
  border: solid 1px white;
  bottom:20px;
  left:20px;
  border-radius:10px;
}
