<app-menu></app-menu>

<ion-grid style="width:100%;">
  <ion-row style="height: 500px;">
    <ion-col>
      <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions">
      </highcharts-chart>
    </ion-col>
  </ion-row>
  <ion-img src="./assets/img/mappoint.png" style="top: 171px; left: 583px;" title="Paris" (click)="select('Paris')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 102px; left: 512px;" title="Reykjavik" (click)="select('Reykjavik')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 195px; left: 355px;" title="New York" (click)="select('New York')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 425px; left: 1015px;" title="Sydney" (click)="select('Sydney')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 397px; left: 430px;" title="Rio de Janeiro" (click)="select('Rio de Janeiro')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 150px; left: 685px;" title="Moscow" (click)="select('Moscow')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 245px; left: 800px;" title="New Delhi" (click)="select('New Delhi')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 285px; left: 571px;" title="Ouagadougou" (click)="select('Ouagadougou')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 400px; left: 657px;" title="Johannesburg" (click)="select('Johannesburg')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 202px; left: 914px;" title="Beijing" (click)="select('Beijing')"></ion-img>
</ion-grid>
