ion-grid{
  width:100%;
  background-size: 1200px;
}

ion-col{
  border: solid white 1px;
}

ion-img{
  width:40px;
  position: absolute;
}

ion-img:hover{
  transform: scale(1.2, 1.2);
  cursor: pointer;
}
