<app-menu></app-menu>

<ion-grid style="width:100%;">
  <ion-row style="height: 500px;">
    <ion-col>
      <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions">
      </highcharts-chart>
    </ion-col>
  </ion-row>
  <ion-img src="./assets/img/mappoint.png" style="top: 80px; left: 540px;" title="Paris" (click)="select('Paris')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 25px; left: 478px;" title="Reykjavik" (click)="select('Reykjavik')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 107px; left: 308px;" title="New York" (click)="select('New York')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 404px; left: 1029px;" title="Sydney" (click)="select('Sydney')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 364px; left: 375px;" title="Sao Paulo" (click)="select('Sao Paulo')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 60px; left: 645px;" title="Moscow" (click)="select('Moscow')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 175px; left: 795px;" title="New Delhi" (click)="select('New Delhi')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 225px; left: 520px;" title="Ouagadougou" (click)="select('Ouagadougou')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 375px; left: 625px;" title="Johannesburg" (click)="select('Johannesburg')"></ion-img>
  <ion-img src="./assets/img/mappoint.png" style="top: 115px; left: 908px;" title="Beijing" (click)="select('Beijing')"></ion-img>
</ion-grid>
